
/* ELEMENTS */
body 
{
  padding: 0;
}

/* ID'S */
#mainContainer 
{
  width: 1200px;
  margin: auto;
}

#searchContainer
{
  float: right;
  width: 30%;

  
}

#formContainer
{

}

/* CLASSES */
.mapContainer
{
  border: 1px solid #cccccc;
  padding: 0px;
  width: 800px;
  display: inline-block;

}
/* for SVG */

.pointerBitch
{
  cursor: pointer;
}
/* from yeoman */
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
.top-buffer{
padding-top:20px;
}
.tags-wrapper {
position: relative;
}
.tags-cloud .tag {
float: left;
padding: 4px 6px;
font-size: 1em;
margin-right: 5px;
margin-bottom: 5px;
background: #f2f2f2;
font-weight: 600;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
-moz-background-clip: padding;
-webkit-background-clip: padding-box;
background-clip: padding-box;
border: 1px solid #dddddd;
}
.tags-cloud .tag:hover {
border: 1px solid #cccccc;
}
.tags-cloud .tag:hover .cross {
opacity: 1;
}
.tags-cloud .tag .cross {
margin-left: 5px;
margin-right: 3px;
font-size: 1em;
color: #20a28e;
opacity: .7;
cursor: pointer;
}
.suggestions-list {
position: absolute;
list-style-type: none;
margin: 0;
padding: 0;
overflow: auto;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
-moz-background-clip: padding;
-webkit-background-clip: padding-box;
background-clip: padding-box;
font-size: 14px;
}
.suggestions-list li {
color: #333333;
font-weight: 600;
padding: 4px 25px;
font-size: 1em;
cursor: pointer;
background: #f2f2f2;
border-bottom: 1px solid #dddddd;
}
.suggestions-list li:hover {
background: #dddddd;
}
.suggestions-list li:active,
.suggestions-list li.active {
color: #20a28e;
background: #dddddd;
}
.suggestions-list:focus{
outline:none;
}
/* SVG ZOOMING */
.tescik
{
  color: #20a28e;
}